-r requirements.txt
# Documentation generation
{%- if cookiecutter.version_scheme == 'SemVer' %}
bump2version
{%- else %}
pycalver
{%- endif %}
sphinx
sphinx_rtd_theme
# unit tests
pytest
coverage
pytest-cov
hypothesis
faker
# packaging and release
setuptools
wheel
twine
